.gameBoard {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 1px;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  color: #919191;
  font-weight: bold;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cell.highlighted {
  background-color: #a3d3f7; /* Подсветка возможных ходов */
}

.cell:hover {
  background-color: #ddd;
}

.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: #000;
}

.chip.active {
  border: 2px solid #ffcc00; /* Визуальное выделение активной фишки */
}

.chip.finished {
  background-color: #555; /* Стили для завершенных фишек */
  cursor: not-allowed; /* Убираем возможность клика */
}
